body {
    font-family: 'Roboto', sans-serif;
}

.btn-primary-dark {
    color: #fff;
    background-color: #a29d69;
    border-color: #fff;
}

.btn-primary-dark:hover {
    color: rgb(64, 64, 64);
    background-color: #fff;
    border-color: #e6d74d;
}


.btn-primary-light {
    color: #0c5460;
    background-color: #f7e8ba;
    border-color: #e6d74d;
}

.btn-primary-light:hover {
    color: #0c5460 ;
    background-color: #e6d74d;
    border-color: #0c5460;
}

 .alert-info-light {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert-info-dark{
    color: #fff;
    background-color: #576467;
    border-color: #bee5eb;
}

.alert-info-light {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.light {
    background: #edeff1;
}

.container {
    border-radius: 10px;
    z-index: 10;
    position: relative;
    margin-top: 0px;
    padding: 5px 5px;
}

.dark {
    background: rgb(64, 64, 64);
    color: #fff;
}

.text-dark {
    color: rgb(64, 64, 64);
}

.text-light {
    color: #fff;
}

.next-logo {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.5;
    z-index: -1;
    width: 30%
}

a:hover {
    text-decoration: none;
}

.header .container {
    background: none;
}

.form-inline {
    margin-bottom: 40px;
}

h1 {
    margin-bottom: 2rem;
    max-width: 1140px;
    margin: auto;
    padding-bottom: 16px;
    position: relative;
}

.card-body {
    margin: 10px;
}
  
.posts:after {
    position: absolute;
    content: '';
    height: 4px;
    right: 0;
    left: 0;
    top: 0;
}

.card {
    border: none;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    display: inline-block;
}

.github {
    max-width: 80px;
    opacity: 0.5;
}

.github:hover {
    opacity: 1;
}

h5 {
    font-size: 24px;
    float: left;
}

h6 {
    font-size: 14px;
    color: black;
}

p {
    font-size: 14px;
    color: #646464;
    margin-top: 1rem !important;
}

h1 a {
    color: #202124;
    font-size: 60px;
}

.header {
    margin: 0;
    position: relative;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1100px;
        padding: 50px;
    }
}

@media (max-width: 480px) {
    h1 a {
        font-size: 40px;
    }
}

.form-control {
    width: 80%;
}

.input-light {
    margin-bottom: 2px;
}

.input-dark:focus {
    background-color: #716868;
    color: white;
}

.input-dark {
    background-color: rgb(64, 64, 64);
    border : 1px solid #5b6b7b;
    color: white;
    margin-bottom: 2px;
}

.add-row-dark {
    float: left;
    margin-left: 70%;
    margin-top: 10px;
    border: solid 1px #cdcdfb;
    background-color: #515056;
    color: #cdcdfb;
}

.add-row-light {
    float: left;
    margin-left: 70%;
    margin-top: 10px;
    border: solid 1px #515056;
    background-color: #cdcdfb;
    color: #515056;
}


.delete-row-dark {
    float: left;
    margin-left: 70%;
    margin-top: 10px;
    border: solid 1px #f5b2c2;
    background-color: #515056;
    color: #f5b2c2;
}

.delete-row-light {
    float: left;
    margin-left: 70%;
    margin-top: 10px;
    border: solid 1px #f5b2c2;
    background-color: #cdcdfb;
    color: #bb5e74;
}

#template {
    height: 30px;
    width: 500px;
}

.template-dark {
    background-color: #40404a;
    color: white;
    border: solid 1px #cdcdfb;
}


.input-dark::placeholder {
  color: #aba9a9;
}

.input-dark:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #aba9a9;
}

.input-dark::-ms-input-placeholder { /* Microsoft Edge */
 color: #aba9a9;
}

.card-light {
    background-color: #d4dae0;
    border: solid 1px#fbfbf9;
    color: #6f7d8c;
    padding: 15px;
}

.border-dark {
    background-color: rgb(64 63 63);
}

.border {
    float: right;
}

.img-border-dark {
    border: solid 1px#d4dae0;
}


.img-border-light {
    border: solid 1px rgb(64,64,64);
}

.card-dark {
    background-color: rgb(64, 64, 64);
    border: solid 1px#79765b;
    color: #fbf0f0;
    padding: 15px;
}

.hidden {
    display: none;
}
